body{
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #252525;
    overflow-x: hidden;
}
.page1{
    width: 100vw;
    height: 100vh;
}
.page1-background{
    position: absolute;
    background-image: url(img/1054644.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100vw;
    height: 100vh;
    opacity: .75;
    z-index: -1;
}
.name{
    color: #FFF;
    z-index: 999;
    font-family: 'Sail', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    word-spacing: 9999999999999999999px;
    text-align: right;
    position: absolute;
    bottom: 200px;
    right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addname{
    word-spacing: 0;
    position: absolute;
    font-size: 36px;
    right: 0;
    font-family: Sail;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
}
.page2{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.page2-list{
    margin-bottom: 50px;
}
.page2-block{
    background-color: #AF6E34;
    width: 95vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}
.page2-gradient{
    height: 320px;
    width: 100vw;
    position: absolute;
    top: 100vh;
    transform: translateY(-320px);
    background: linear-gradient(180deg, rgba(53, 53, 53, 0) 0%, #252525 100%);
}
.page2-img{
    background-image: url(img/triangle.png);
    height: calc(1vw - 3px);
    width: 95vw;
    background-size: 1vw;
}
.page2-block_element{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 44px;
    text-align: center;
    font-variant: small-caps;
    color: #353535;
}
.page2-block_element h2{
    margin-bottom: 5px;
    font-size: 45px;
}
.page3{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.page3 h1{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    color: #FFF;
}
.page3{
    display: flex;
    flex-flow: column;
    width: 100vw;
}
.block_of_type{
    display: grid;
    width: 80vw;
    align-items: center;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
    text-decoration: none;
    padding: 50px;
    border-radius: 50px;
    transition: .5s;
}
.block_of_type:hover{
    background-color: #1b1b1b;
}
.block_of_type-img{
    width: 100%;
}
.block_of_type-text{
    display: flex;
    flex-flow: column;
    padding-left: 10vw;
    padding-right: 10vw;
    color: #E0E0E0;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
}
.block_of_type-text h1{
    margin-top: 0;
}
.page4{
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 150px;
}
.page4-img{
    background-image: url(img/triangle.png);
    height: calc(1vw - 3px);
    width: 95vw;
    background-size: 1vw;
}
.page4-block{
    background-color: #AF6E34;
    width: 95vw;
    min-height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}
.page4-block h1{
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    color: #252525;
    text-transform: uppercase;
}
.page4-block form{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.page4-block form h1{
    text-transform: uppercase;
    color: #252525;
    font-size: 36px;
}
.form-input{
    background: #A96A31;
    border: 2px solid #252525;
    box-sizing: border-box;
    border-radius: 42.5px;
    width: 421px;
    height: 66px;
    font-size: 36px;
    text-align: center;
    color: #252525;
    padding: 10px;
}
.form-description{
    width: 553px;
    min-height: 295px;
    resize: vertical;
}
.form-submit{
    background: #252525;
    border: 2px solid #A96A31;
    box-sizing: border-box;
    border-radius: 42.5px;
    width: 421px;
    height: 66px;
    font-size: 36px;
    text-align: center;
    color: #A96A31;
    padding: 10px;
    margin-top: 30px;
    text-transform: uppercase;
}
@media screen and (max-width: 850px){
    .page1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
        font-size: 20vw;
        position: inherit;
        text-align: center;
    }
    .addname{
        font-size: 5vw;
        text-align: center;
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    .page2-block{
        flex-flow: column;
        height: auto;
        width: 90vw;
        padding-top: 10px;
    }
    .page2-img{
        background-size: 1.5vw;
        height: calc(1.5vw - 3px);
        width: 90vw;
    }
}
@media screen and (orientation: portrait){
    .page2-img{
        height: calc(2.5vw - 3px);
        background-size: 2.5vw;
    }
    .block_of_type{
        display: flex;
        flex-flow: column;
    }
    .block_of_type-text h1{
        text-align: center;
    }
    .page4-img{
        height: calc(2.5vw - 3px);
        background-size: 2.5vw;
    }
    .page4-block h1{
        font-size: 10vw;
    }
    .form-text{
        font-size: 7vw;
    }
    .form-input{
        width: 80%;
    }
    .form-submit{
        width: 80%;
    }
}
@media screen and (max-width: 400px){
    .page2-img{
        background-size: 4vw;
        height: calc(4vw - 3px);
    }
    .page4-img{
        background-size: 4vw;
        height: calc(4vw - 3px);
    }
}